In [2]:
# import libraries
import pandas_datareader as pdr
import pandas as pd
from datetime import datetime

In [4]:
# read csv list of all adrs
df = pd.read_csv("asianADRS.csv")

In [6]:
# drop irrelevant column
df.drop(columns='Unnamed: 0')

,Symbol,Name,Country,Underlying Symbol,Underlying Exchange,Market cap
0,TSM,Taiwan Semiconductor Manufacturing Co Ltd ADRs,Taiwan,TT:2330,Taiwan Stock Exchange,"$647,222,296,282"
1,TM,Toyota Motor Corp ADRs,Japan,JT:7203,Tokyo Stock Exchange,"$251,511,846,683"
2,SONY,Sony Group Corporation ADRs,Japan,JT:6758,Tokyo Stock Exchange,"$134,756,741,338"
3,MUFG,Mitsubishi UFJ Financial Group Inc. ADRs,Japan,JT:8306,Tokyo Stock Exchange,"$74,293,513,306"
4,TAK,Takeda Pharmaceutical Company Limited ADRs,Japan,JT:4502,Tokyo Stock Exchange,"$58,767,219,290"
5,HMC,Honda Motor Co Ltd ADRs,Japan,JT:7267,Tokyo Stock Exchange,"$54,469,652,890"
6,SMFG,Sumitomo Mitsui Financial Group Inc ADRs,Japan,JT:8316,Tokyo Stock Exchange,"$49,434,176,016"
7,MFG,Mizuho Financial Group Inc ADRs,Japan,JT:8411,Tokyo Stock Exchange,"$37,073,048,461"
8,BGNE,BeiGene ADRs,China,HK:6160,Hong Kong Exchange,"$31,342,405,037"
9,CAJ,Canon Inc ADRs,Japan,JT:7751,Tokyo Stock Exchange,"$30,529,845,691"
10,CHT,Chunghwa Telecom Co Ltd ADRs,Taiwan,TT:2412,Taiwan Stock Exchange,"$30,354,888,350"
11,PKX,POSCO ADRs,South Korea,KP:005490,Korea Exchange (Stock Market),"$24,963,334,597"
12,TLK,Telekomunikasi Indonesia Persero Tbk PT ADRs,Indonesia,IJ:TLKM,Indonesia Stock Exchange,"$23,388,589,339"
13,UMC,United Microelectronics Corp ADRs,Taiwan,TT:2303,Taiwan Stock Exchange,"$23,009,838,260"
14,IX,Orix ADRs,Japan,JT:8591,Tokyo Stock Exchange,"$21,661,886,039"
15,KB,KB Financial Group Inc ADRs,South Korea,KP:105560,Korea Exchange (Stock Market),"$20,095,996,774"
16,SKM,SK Telecom Co Ltd ADRs,South Korea,KP:017670,Korea Exchange (Stock Market),"$19,991,830,586"
17,ASX,Advanced Semiconductor Engineering Inc ADRs,Taiwan,TT:3711,Taiwan Stock Exchange,"$17,337,443,860"
18,NMR,Nomura Holdings Inc ADRs,Japan,JT:8604,Tokyo Stock Exchange,"$17,331,895,541"
19,SHG,Shinhan Financial Group Co Ltd ADRs,South Korea,KP:055550,Korea Exchange (Stock Market),"$17,016,789,309"
20,LFC,China Life Insurance Co Ltd ADRs,China,HK:2628,Hong Kong Exchange,"$15,522,291,050"
21,SNP,China Petroleum & Chemical Corp ADRs,China,HK:0386,Hong Kong Exchange,"$13,705,819,216"
22,KEP,Korea Electric Power Corp ADRs,South Korea,KP:015760,Korea Exchange (Stock Market),"$13,352,852,802"
23,MBT,Mobile TeleSystems PJSC ADRs,Russia,RX:MTSS,Standard-Classica-Forts,"$8,213,348,277"
24,PTR,PetroChina Co Ltd ADRs,China,HK:0857,Hong Kong Exchange,"$7,705,318,280"
25,LPL,LG Display Co Ltd ADRs,South Korea,KP:034220,Korea Exchange (Stock Market),"$7,170,626,628"
26,WF,Woori Financial Group Inc. ADRs,South Korea,KP:316140,Korea Exchange (Stock Market),"$6,524,484,727"
27,KT,KT Corp ADRs,South Korea,KP:030200,Korea Exchange (Stock Market),"$6,517,350,728"
28,ZNH,China Southern Airlines ADRs,China,HK:1055,Hong Kong Exchange,"$3,123,420,827"
29,CEA,China Eastern Airlines ADRs,China,HK:0670,Hong Kong Exchange,"$2,439,297,699"
30,ACH,Aluminum Corporation of China ADRs,China,HK:2600,Hong Kong Exchange,"$1,672,241,573"
31,HNP,Huaneng Power International Inc ADRs,China,HK:0902,Hong Kong Exchange,"$1,666,285,929"
32,IMOS,ChipMOS TECHNOLOGIES ADRs,Taiwan,TT:8150,Taiwan Stock Exchange,"$1,150,857,490"
33,SHI,Sinopec Shanghai Petrochemical ADRs,China,HK:0338,Hong Kong Exchange,"$824,820,000"

In [ ]:
# All ADR tickers and underlying stock tickers
tickers = ['TSM', 'TM', 'SONY', 'MUFG', 'TAK', 'HMC', 'SMFG', 'MFG','BGNE', 'CAJ', 'CHT', 'PKX', 'TLK', 'UMC',
           'IX', 'KB', 'SKM','ASX', 'NMR', 'SHG', 'LFC', 'SNP', 'KEP', 'MBT', 'PTR', 'LPL', 'WF', 'KT', 'ZNH', 
           'CEA', 'ACH', 'HNP', 'IMOS', 'SHI',
           '2330.TW', '7203.T', '6758.T', '8306.T', '4502.T', '7267.T','8316.T', '8411.T', '6160.HK', 
           '7751.T', '2412.TW', '005490.KS', 'TLKM.JK', '2303.TW', '8591.T', '105560.KS', '017670.KS',
           '3711.TW', '8604.T', '055550.KS', '2628.HK', '0386.HK', '015760.KS', 'MTSS.ME', '0857.HK', 
           '034220.KS', '316140.KS','030200.KS', '1055.HK', '0670.HK','2600.HK', '0902.HK', '8150.TW','0338.HK']

In [ ]:
# fetch stock and ADR data and save as csv file
for ticker in tickers:
    df =  pdr.get_data_yahoo(symbols=ticker, start=datetime(2016, 1, 1), end=datetime(2021, 1, 1))
    df.to_csv(ticker+'.csv')

In [8]:
# All forex/USD tickers
forex = ['TWDUSD=X', 'JPYUSD=X', 'KRWUSD=X', 'IDRUSD=X', 'RUBUSD=X']

In [10]:
# fetch forex data and save as csv file
for curr in forex:
    df =  pdr.get_data_yahoo(symbols=curr, start=datetime(2016, 1, 1), end=datetime(2021, 1, 1))
    df.to_csv(curr+'.csv')

In [6]:
TSM_adr = pd.read_csv("TSM.csv")
TSM_stock = pd.read_csv("2330.TW.csv")

In [7]:
TSM_stock

            Date   High    Low   Open  Close      Volume   Adj Close
0     2016-01-04  143.5  139.0  142.5  139.5  39169000.0  115.746284
1     2016-01-05  140.0  137.0  139.0  138.0  46381000.0  114.501694
2     2016-01-06  138.0  135.0  138.0  135.5  53617000.0  112.427383
3     2016-01-07  135.0  130.5  134.5  133.0  62539000.0  110.353096
4     2016-01-08  135.0  132.0  132.0  134.0  50123000.0  111.182816
...          ...    ...    ...    ...    ...         ...         ...
1213  2020-12-25  515.0  510.0  514.0  511.0  12327895.0  508.915985
1214  2020-12-28  515.0  509.0  512.0  515.0  19087382.0  512.899658
1215  2020-12-29  517.0  513.0  515.0  515.0  19907528.0  512.899658
1216  2020-12-30  525.0  514.0  516.0  525.0  46292401.0  522.858887
1217  2020-12-31  530.0  524.0  526.0  530.0  29970398.0  527.838501

[1218 rows x 7 columns]

In [10]:
TSM = pd.merge(TSM_adr, TSM_stock, on='Date')

In [11]:
TSM

,Date,High_x,Low_x,Open_x,Close_x,Volume_x,Adj Close_x,High_y,Low_y,Open_y,Close_y,Volume_y,Adj Close_y
0,2016-01-04,22.299999,21.860001,22.240000,22.090000,9145100.0,18.433125,143.5,139.0,142.5,139.5,39169000.0,115.746284
1,2016-01-05,22.420000,21.950001,22.180000,21.950001,7642100.0,18.316298,140.0,137.0,139.0,138.0,46381000.0,114.501694
2,2016-01-06,21.709999,21.260000,21.660000,21.340000,8063200.0,17.807278,138.0,135.0,138.0,135.5,53617000.0,112.427383
3,2016-01-07,21.379999,20.820000,20.879999,21.100000,11242800.0,17.607012,135.0,130.5,134.5,133.0,62539000.0,110.353096
4,2016-01-08,21.400000,20.770000,21.270000,20.809999,9290700.0,17.365019,135.0,132.0,132.0,134.0,50123000.0,111.182816
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174,2020-12-24,106.339996,104.669998,104.760002,105.970001,3172100.0,105.572227,512.0,508.0,511.0,510.0,14950143.0,507.920044
1175,2020-12-28,108.169998,105.949997,107.599998,106.150002,5157000.0,105.751549,515.0,509.0,512.0,515.0,19087382.0,512.899658
1176,2020-12-29,107.150002,105.220001,107.000000,105.559998,4602400.0,105.163757,517.0,513.0,515.0,515.0,19907528.0,512.899658
1177,2020-12-30,109.699997,107.400002,107.699997,108.900002,9571800.0,108.491226,525.0,514.0,516.0,525.0,46292401.0,522.858887
1178,2020-12-31,109.669998,108.440002,109.660004,109.040001,4909500.0,108.630699,530.0,524.0,526.0,530.0,29970398.0,527.838501