In [2]:
#from ib_insync import *
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import statsmodels
import statsmodels.api as sm
from statsmodels.tsa.stattools import coint, adfuller
from statsmodels import regression,stats
import math
import datetime 
import statsmodels.formula.api as smf 
from datetime import date, time, datetime, timedelta
from collections import deque
from os import listdir
from os.path import isfile, join
from collections import defaultdict
from operator import itemgetter

In [3]:

"""
Data Source: https://countryeconomy.com/key-rates/hong-kong

"""



# create an array of 5 dates starting at '2015-02-24', one per day
rng_hk = [pd.date_range('2015-12-01', '2016-11-30', freq='D'),
       pd.date_range('2016-12-01', '2017-02-27', freq='D'),
       pd.date_range('2017-03-01', '2017-05-31', freq='D'),
       pd.date_range('2017-06-01', '2017-11-30', freq='D'),
       pd.date_range('2017-12-01', '2018-02-27', freq='D'),
       pd.date_range('2018-03-01', '2018-05-31', freq='D'),
       pd.date_range('2018-06-01', '2018-08-31', freq='D'),
       pd.date_range('2018-09-01', '2018-11-30', freq='D'),
       pd.date_range('2018-12-01', '2019-07-31', freq='D'),
       pd.date_range('2019-08-01', '2019-09-18', freq='D'),
       pd.date_range('2019-09-19', '2019-10-30', freq='D'),
       pd.date_range('2019-10-31', '2020-03-03', freq='D'),
       pd.date_range('2020-03-04', '2020-03-15', freq='D'),
       pd.date_range('2020-03-16', '2021-04-19', freq='D'),
       
      
      ]




rates_hk = [0.75, 1.00, 1.25, 1.50, 1.75, 2.00, 2.25, 2.50, 2.75, 2.50, 2.25, 2.00, 1.50, 0.86]
df_lists = []
for i in range(len(rng_hk)):
    df_temp = pd.DataFrame({ 'Date': rng_hk[i], 'rates_hk':rates_hk[i]})
    df_lists.append(df_temp)
    
df_hk = pd.concat(df_lists)
df_hk.to_csv('HK_rates.csv')

In [10]:

"""
https://countryeconomy.com/key-rates/australia
"""



# create an array of 5 dates starting at '2015-02-24', one per day
rng_aus = [pd.date_range('2015-05-06', '2016-05-03', freq='D'),
       pd.date_range('2016-05-04', '2016-08-02', freq='D'),
       pd.date_range('2016-08-03', '2019-06-04', freq='D'),
       pd.date_range('2019-06-05', '2019-07-02', freq='D'),
       pd.date_range('2019-07-03', '2019-10-01', freq='D'),
       pd.date_range('2019-10-02', '2020-03-03', freq='D'),
       pd.date_range('2020-03-04', '2020-03-19', freq='D'),
       pd.date_range('2020-03-20', '2020-11-03', freq='D'),
       pd.date_range('2020-11-04', '2021-04-19', freq='D'),
       
      
      ]


rates_aus = [2.00, 1.75, 1.50, 1.25, 1.00, 0.75, 0.50, 0.25,0.10]
df_lists = []
for i in range(len(rng_aus)):
    df_temp = pd.DataFrame({ 'Date': rng_aus[i], 'rates_Aus':rates_aus[i]})
    df_lists.append(df_temp)
    

df_aus = pd.concat(df_lists)
df_aus.to_csv('Australia_rates.csv')

In [5]:

"""
https://countryeconomy.com/key-rates/japan
"""



# create an array of 5 dates starting at '2015-02-24', one per day
rng_japan = [pd.date_range('2015-05-06', '2016-02-15', freq='D'),
       pd.date_range('2016-02-16', '2021-04-19', freq='D'),

      ]


rates_japan = [0, -0.1]
df_lists = []
for i in range(len(rng_japan)):
    df_temp = pd.DataFrame({ 'Date': rng_japan[i], 'rates_Japan':rates_japan[i]})
    df_lists.append(df_temp)
    

df_japan = pd.concat(df_lists)
df_japan.to_csv('Japan_rates.csv')

In [6]:

"""
https://countryeconomy.com/key-rates/usa
"""



# create an array of 5 dates starting at '2015-02-24', one per day
rng_us = [pd.date_range('2015-12-17', '2016-12-14', freq='D'),
       pd.date_range('2016-12-15', '2017-03-15', freq='D'),
       pd.date_range('2017-03-16', '2017-06-14', freq='D'),
       pd.date_range('2017-06-15', '2017-12-13', freq='D'),
       pd.date_range('2017-12-14', '2018-03-21', freq='D'),
       pd.date_range('2018-03-22', '2018-06-13', freq='D'),
       pd.date_range('2018-06-14', '2018-09-26', freq='D'),
       pd.date_range('2018-09-27', '2018-12-19', freq='D'),
       pd.date_range('2018-12-20', '2019-07-31', freq='D'),
       pd.date_range('2019-08-01', '2019-09-18', freq='D'),
       pd.date_range('2019-09-19', '2019-10-30', freq='D'),
       pd.date_range('2019-10-31', '2020-03-03', freq='D'),
       pd.date_range('2020-03-04', '2020-03-15', freq='D'),
       pd.date_range('2020-03-16', '2021-04-19', freq='D'),
      ]


rates_us = [0.25, 0.5, 0.75, 1,1.25, 1.5,1.75, 2, 2.25, 2.0, 1.75, 1.50, 1.0, 0]
df_lists = []
for i in range(len(rng_us)):
    df_temp = pd.DataFrame({ 'Date': rng_us[i], 'rates_US':rates_us[i]})
    df_lists.append(df_temp)
    

df_us = pd.concat(df_lists)
df_us.to_csv('US_rates.csv')

In [7]:
df = pd.merge(df_aus, df_us, how = 'right')
df = pd.merge(df, df_japan, how = 'left')
df = pd.merge(df, df_hk, how = 'left')

df.to_csv('interest_rates.csv')

In [8]:
df

           Date  rates_HK  rates_US  rates_Japan  rates_hk
0    2015-12-17       2.0      0.25          0.0      0.75
1    2015-12-18       2.0      0.25          0.0      0.75
2    2015-12-19       2.0      0.25          0.0      0.75
3    2015-12-20       2.0      0.25          0.0      0.75
4    2015-12-21       2.0      0.25          0.0      0.75
...         ...       ...       ...          ...       ...
1946 2021-04-15       0.1      0.00         -0.1      0.86
1947 2021-04-16       0.1      0.00         -0.1      0.86
1948 2021-04-17       0.1      0.00         -0.1      0.86
1949 2021-04-18       0.1      0.00         -0.1      0.86
1950 2021-04-19       0.1      0.00         -0.1      0.86

[1951 rows x 5 columns]